body {
  margin: 0;
  padding: 0;
}

/* Contenedor general de la barra */
.pokedex-navbar {
  background-color: #d32f2f;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 5px solid #9a0007;
}

/* Parte izquierda grande como Pokedex */
.pokedex-izq {
  width: 450px;
  height: 150px;
  background-color: #d32f2f;
  border-bottom: 5px solid #9a0007;
  border-bottom-right-radius: 300px;
  position: relative;
  z-index: 2;
}

/* Boton azul grande */
.circulo-btn {
  width: 60px;
  height: 60px;
  background-color: #2f56c0;
  border: 4px solid white;
  border-radius: 50%;
}

/* Luces pequeñas */
.circ {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid white;
}

.circ.red { background-color: #e53935; }
.circ.yellow { background-color: #fdd835; }
.circ.green { background-color: #66bb6a; }

/* Enlaces del menu */
.nav-links .nav-link {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #55555573, #55555573);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.479);
  transition: background 0.3s ease, transform 0.2s ease;
}

/* Hover */
.nav-links .nav-link:hover {
  background: linear-gradient(to bottom right,  #fade3fe8, #f5d12ecc);
  transform: translateY(-2px);
  border: 2px solid #3737cede;
  color: #3737cede;
}

/* Fondo general rojo tipo Pokedex */
.bg-red{
  background-color: #f10000a2;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.logo-img {
  max-width: 160px;
}


/* Contenedor estilo pantalla blanca */
.main-pokedex {
  padding-top: 100px; 
  padding-bottom: 20px; 
  display: flex;
  justify-content: center;
}

.pokedex-pantalla {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.35);
  border: 0.5px solid #0808088e;
  width: 100%;
  max-width: 95%;
  border-bottom-left-radius: 100px;
}


/* Boton flotante para volver arriba */
.scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #3a3737;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #ffc400;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none;
  transition: transform 0.2s ease;
}
.scroll-img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.sscroll-btn:hover {
  transform: scale(1.1);
}

.pokedex-footer {
  background-color: #b61818;
  border-top: 5px solid #9a0007;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor interno con espacios */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Impide que los elementos bajen */
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  gap: 2rem;
}

/* Cruz a la izquierda */
.cruz-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 140px;
  height: 140px;
  position: relative;
}

.cruz .flecha {
  position: absolute;
  background-color: #222121;
  border: 2px solid #2b2929;
  width: 40px;
  height: 40px;
}

/* Flechas arriba y abajo */
.cruz .up {
  top: 10px;
  left: 45px;
}

.cruz .down {
  bottom: 20px;
  left: 45px;
}

/* Flechas izquierda y derecha */
.cruz .left {
  top: 45px;
  left: 10px;
}

.cruz .right {
  top: 45px;
  left: 80px;
  right: 0;
}

/* Centro de la cruz */
.cruz .centro {
  top: 45px;
  left: 45px;
  background-color: #222121;
  border: 2px solid #302e2e;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

/* Pantalla verde centrada */
.pantalla-nombres {
  background-color: #7ab33a;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px inset #7cb342;
  box-shadow: inset 0 0 5px #558b2f;
  min-width: 300px;
  max-width: 350px;
}

/* Texto dentro de la pantalla */
.nombre-equipo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: #1b5e20;
  margin: 0;
  line-height: 1.5;
}

/* Botones a la derecha */
.botones-acciones {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 100px;
}

/* Estilos de botones */
.botones-acciones .btn-rojo-pokedex,
.botones-acciones .btn-verde-pokedex {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-rojo-pokedex {
  background-color: #ff5252;
  border: 2px solid #c62828;
}

.btn-verde-pokedex {
  background-color: #2f56c0;
  border: 2px solid #0b287a;
}

/*Esto es pa el area de la tarjeta*/
.areaTarjeta {
  position: fixed;
  top: 75px; 
  left: 0;
  width: 100vw;
  height: calc(100vh - 75px); 
  background-color: rgba(0, 0, 0, 0.295); 
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3.5rem; 
  z-index: 999; 
}

.card {
  width: 18rem;
  height: 25rem;
  border: none;
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 20ms ease-out;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(1%);
}

.tarjeta_principal{
  width: 30rem;
  min-height: 20rem;
  height: auto;
}

.margen_top{
  margin-top: -10px;
}

.br_infor{
  border-radius: 15px;
  margin-top: -50px;
}

.fondoTarjetaVerde{
  background: #94db6b;
  background: radial-gradient(circle,rgb(204, 231, 221) 0%, rgb(68, 204, 136) 100%); 
}

.fondoTarjetaRojo{
  background: #ff0000;
  background: radial-gradient(circle,rgb(212, 154, 140) 0%, rgb(207, 74, 33) 100%);
  
}

.fondoTarjetaBlanco{
  background: #ffffff;
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(207, 207, 207, 1) 100%);
}

.fondoTarjetaNegro{
  background: #000000;
background: radial-gradient(circle,rgb(83, 83, 83) 0%, rgb(0, 0, 0) 100%);
}

.fondoTarjetaMorado{
  background: #8d70b5;
background: radial-gradient(circle,rgb(175, 145, 218) 0%, rgb(78, 39, 151) 100%);
}

.fondoTarjetaAzul{
  background: #00e5ff;
background: radial-gradient(circle,rgb(147, 195, 223) 0%, rgb(43, 122, 168) 100%);
}

.fondoTarjetaMarron{
  background: #cc9047;
background: radial-gradient(circle,rgb(226, 175, 113) 0%, rgb(124, 63, 37) 100%);
}

.fondoTarjetaAmarillo{
  background: #ffee00;
background: radial-gradient(circle,rgb(223, 221, 145) 0%, rgb(238, 216, 22) 100%);
}

.fondoTarjetaRosa{
  background: #ff00cc;
background: radial-gradient(circle,rgb(240, 203, 238) 0%, rgb(223, 121, 209) 100%);
}

.fondoTarjetaGris{
  background: #9e9999;
background: radial-gradient(circle,rgb(204, 201, 201) 0%, rgb(78, 77, 77) 100%);
}

.boton_volver{
  width: 10%;
  height: 45px;
  border: none;
  background-color: transparent;
  transition: all 100ms ease-out;
}

.boton_volver:hover{
  transform: translateX(-25%);
}

.img_volver{
  width: 30px;
  height: 30px;
}

.boton_acompañante{
  width: 12%;
  height: 45px;
  border: none;
  background-color: transparent;
  transition: all 100ms ease-out;
}

.boton_acompañante:hover{
 transform: scale(1.3);
}

.img_pokeball{
  width: 35px;
  height: 35px;
}

.fuente_nombre {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 32px;
  letter-spacing: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  position: absolute;
  z-index: 2;
  line-height: 1.2;
  
}

.fuente_nombreP{
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 5px;
  z-index: 1;
  white-space: nowrap;
  position: absolute;
  
}

.fuente_id{
  font-family: 'Times New Roman', Times, serif;
  color: #fdfdfd;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 70px;
}

.fuente_idPokedex{
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 25px;
}

.imagen_tarjeta{
  width: 220px;
  height: 220px;
  object-fit: contain;
  transform: translateY(-20%) translateX(20%);
}

.imagen_tarjetaPokedex{
  width: 220px;
  height: 220px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fuente_tipos{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(81, 135, 189);
  font-size: 16px;
  transform: translateY(-105px);
}

@font-face {
    font-family: "letra-circle";
    src: url('circlethings.ttf') format('truetype');
}

.fuente_circle_ {
    font-family: 'letra-circle';
    color: #5e7966;
}

.fuente_tiposPoke{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #051d0c;
  font-size: 22px;
}

.decoracion_tipos{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #c2b8b8;
  font-size: 15px;
  transform: translateY(-105px);
}

.margen_corto{
  margin-top: 2.5px;
}

.formacursor{
  cursor: pointer;
}

.color_verdep {
    color: #bbfae5;
}

.color_rojop {
    color: #f5c7b5;
}

.color_azulp {
    color: #8acdf1;
}

.color_blancop {
    color: #706f6f;
}

.color_cafep {
    color: #ebb990;
}

.color_amarillop {
    color: #bba43c;
}

.color_moradop {
    color: #c5a1ff;
}

.color_rosadop {
    color: #ffd6ee;
}

.color_grisp {
    color: #d6d0d0;
}

.color_negrop {
    color: #b9b8b8;
}

.margen_abajo{
  margin-bottom: 15px;
}

.margen_arriba{
  margin-top: 20px;
}

.margen_acercar_arriba {
  margin-top: -14px;
}

.contorno-tipos {
    -webkit-text-stroke: 0.5px #1d1d1d;
}

.borde_verde{
-webkit-text-stroke: 12px #92c79d;
position: absolute;
z-index: 1;
}

.borde_amarillo{
  -webkit-text-stroke: 12px #eddc93;
  position: absolute;
  z-index: 1;
}

.borde_blanco{
  -webkit-text-stroke: 12px #e1dddd;
  position: absolute;
  z-index: 1;
}

.borde_negro{
  -webkit-text-stroke: 12px #424242;
  position: absolute;
  z-index: 1;
}

.borde_rosa{
  -webkit-text-stroke: 12px #faacd8;
  position: absolute;
  z-index: 1;
}

.borde_rojo{
  -webkit-text-stroke: 12px #f28585;
  position: absolute;
  z-index: 1;
}

.borde_azul{
  -webkit-text-stroke: 12px #7bb6d6; 
  position: absolute;
  z-index: 1;
}

.borde_marron{
  -webkit-text-stroke: 12px #c08f69;
  position: absolute;
  z-index: 1;
}

.borde_gris{
  -webkit-text-stroke: 12px #B6B4B4;
  position: absolute;
  z-index: 1;
}

.borde_morado{
  -webkit-text-stroke: 12px #7B6E91;
  position: absolute;
  z-index: 1;
}

.contorno-verde {
    -webkit-text-stroke: 12px #60c48d;
}

.contorno-rojo {
    -webkit-text-stroke: 12px #e9a089;
}

.contorno-azul {
    -webkit-text-stroke: 12px #7bb6d6;
}

.contorno-blanco {
    -webkit-text-stroke: 12px #817c7c;
}

.contorno-marron {
    -webkit-text-stroke: 12px #dd996b;
}

.contorno-amarillo {
    -webkit-text-stroke: 12px #cab65c;
}

.contorno-morado {
    -webkit-text-stroke: 12px #bf92dd;
}

.contorno-rosado {
    -webkit-text-stroke: 12px #e09bc4;
}

.contorno-gris {
    -webkit-text-stroke: 12px #B6B4B4;
}

.contorno-negro {
    -webkit-text-stroke: 12px #7a7979;
}

.color_verde {
    color: #84b58e;
}

.color_rojo {
    color: #ae5353;
}

.color_azul {
    color: #5e8aa1;
}

.color_blanco {
    color: #C2C2C2;
}

.color_cafe {
    color: #a57d5e;
}

.color_amarillo {
    color: #c1b378;
}

.color_morado {
    color: #c5a1ff;
}

.color_rosado {
    color: #e4dae0;
}

.color_gris {
    color: #676767;
}

.color_negro {
    color: #c0bdbd;
}

.botonOp {
    font-size: 12px;
    font-family: 'Options-font';
    text-transform: uppercase;
    display: inline;
    text-align: center;
    font-weight: bold;
    padding: 1em 1em;
    border: none;
    border-radius: 20px;
    position: relative;
    color: #5a5a5a;
    text-decoration: none;
    transition: 0.3s ease all;
    margin-bottom: 20px;
    z-index: 1;
    width: 100px;
    background-color: transparent;
}

.botonOp:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    border-bottom: 2px solid rgb(31, 31, 31);
    z-index: -1;
}

.botonOp:hover,
.botonOp:focus,
.botonOp.active {
    color: black;
}

.botonOp:hover:before,
.botonOp:focus:before,
.botonOp.active:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.botonOp:active {
    transform: scale(0.9);
}

.fuente_infor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #0e0e0e;
}

.fuente_data{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    color: #0e0e0e;
}