body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Contenedor general de la barra */
.pokedex-navbar {
  background-color: #d32f2f;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 5px solid #9a0007;
}

/* Parte izquierda grande como Pokedex */
.pokedex-izq {
  width: 450px;
  height: 150px;
  background-color: #d32f2f;
  border-bottom: 5px solid #9a0007;
  border-bottom-right-radius: 300px;
  position: relative;
  z-index: 1003;
  
}

@media (max-width: 991px) {
  .pokedex-izq {
    display: none !important;
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }
}


/* Boton azul grande */
.circulo-btn {
  width: 60px;
  height: 60px;
  background-color: #2f56c0;
  border: 4px solid white;
  border-radius: 50%;
}

/* Luces pequeñas */
.circ {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid white;
}

.circ.red { background-color: #e53935; }
.circ.yellow { background-color: #fdd835; }
.circ.green { background-color: #66bb6a; }

/* Enlaces del menu */
.nav-links .nav-link {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #55555573, #55555573);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.479);
  transition: background 0.3s ease, transform 0.2s ease;
}

/* Hover */
.nav-links .nav-link:hover {
  background: linear-gradient(to bottom right,  #fade3fe8, #f5d12ecc);
  transform: translateY(-2px);
  border: 2px solid #3737cede;
  color: #3737cede;
}

/* Fondo general rojo tipo Pokedex */
.bg-red{
  background-color: #f10000a2;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.logo-img {
  max-width: 160px;
  height: auto;
  align-items: center;
}

/*para pantallas medianas y pequenas reducimos el logo*/
@media (max-width: 991px) {
  .logo-img {
    max-width: 120px;
    margin-left: 15px;
  }
}

/*que el logo quede centrado*/
@media (min-width: 992px) {
  .logo-centrado {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1004;
  }
}

/*clase del diseno del menu tipo hamburguesa*/
.menu-hamb {
  font-size: 30px;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: none;
  width: 15%;
  align-items: end;
}

#menu {
  display: flex;
  flex-direction: column;
  background-color: #d32f2f;
  position: fixed;
  top: 75px;
  right: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1002;
  transition: all 0.3s ease-in-out;
}

#menu a,
#menu input,
#menu select {
  margin-bottom: 5px;
}

/*mostrar menu cuando se activa */
#menu.activo {
  display: flex;
}

/*en pantallas grandes mostrar menu normal y oculta del menu-hamb*/
@media (min-width: 992px) {
  .menu-hamb {
    display: none;
    margin-left: auto;
  }

  #menu.oculto {
    display: flex !important;
  }

  #menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: static;
    background: transparent;
    width: 100%;
    padding: 0;
    gap: 1rem;
  }

  #menu a,
  #menu input,
  #menu select {
    margin-bottom: 0;
  }
}

/*pantallas medianas*/
@media (max-width: 991px) {
  .menu-hamb {
    display: block;
  }

  #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #d32f2f;
    position: fixed;
    top: 75px;
    right: 0;
    z-index: 1002;
  }

  #menu input {
    width: 100%;
    max-width: none;
    grid-column: 1 / -1;  
  }

  #menu select,
  #menu a {
    width: 100%;
  }

  /*clase para ocultar */
  #menu.oculto {
  display: none;
  }
}

/* Contenedor estilo pantalla blanca */
.main-pokedex {
  padding-top: 100px; 
  padding-bottom: 20px; 
  display: flex;
  justify-content: center;
}

.pokedex-pantalla {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.35);
  border: 0.5px solid #0808088e;
  width: 100%;
  max-width: 95%;
  border-bottom-left-radius: 100px;
}

/* Boton flotante para volver arriba */
.scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #3a3737;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #ffc400;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none;
  transition: transform 0.2s ease;
}
.scroll-img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.sscroll-btn:hover {
  transform: scale(1.1);
}

.pokedex-footer {
  background-color: #b61818;
  border-top: 5px solid #9a0007;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor interno con espacios */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Impide que los elementos bajen */
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  gap: 2rem;
}

/* Cruz a la izquierda */
.cruz-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 140px;
  height: 140px;
  position: relative;
}

@media (max-width: 576px) {
  .cruz-container {
    display: none !important;
  }
}

.cruz .flecha {
  position: absolute;
  background-color: #222121;
  border: 2px solid #2b2929;
  width: 40px;
  height: 40px;
}

/* Flechas arriba y abajo */
.cruz .up {
  top: 10px;
  left: 45px;
}

.cruz .down {
  bottom: 20px;
  left: 45px;
}

/* Flechas izquierda y derecha */
.cruz .left {
  top: 45px;
  left: 10px;
}

.cruz .right {
  top: 45px;
  left: 80px;
  right: 0;
}

/* Centro de la cruz */
.cruz .centro {
  top: 45px;
  left: 45px;
  background-color: #222121;
  border: 2px solid #302e2e;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

/* Pantalla verde centrada */
.pantalla-nombres {
  background-color: #7ab33a;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px inset #7cb342;
  box-shadow: inset 0 0 5px #558b2f;
  min-width: 300px;
  max-width: 350px;
}

/* Texto dentro de la pantalla */
.nombre-equipo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: #1b5e20;
  margin: 0;
  line-height: 1.5;
}

/* Botones a la derecha */
.botones-acciones {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 100px;
}

/* Estilos de botones */
.botones-acciones .btn-rojo-pokedex,
.botones-acciones .btn-verde-pokedex {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-rojo-pokedex {
  background-color: #ff5252;
  border: 2px solid #c62828;
}

.btn-verde-pokedex {
  background-color: #2f56c0;
  border: 2px solid #0b287a;
}

/*Esto es pa el area de la tarjeta*/
.areaTarjeta {
  position: fixed;
  top: 75px; 
  left: 0;
  width: 100%;
  height: calc(100vh - 75px); 
  background-color: rgba(0, 0, 0, 0.295); 
  backdrop-filter: blur(20px);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.card {
  width: 18rem;
  height: 28rem;
  border: none;
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 20ms ease-out;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(1%);
}

.tarjeta_principal{
  width: 30rem;
  height:auto;
  margin-bottom: -35px;

}

.margen_top{
  margin-top: -10px;
}

.br_infor{
  border-radius: 15px;
  margin-top: -60px;
}

/* Teléfonos (pantallas pequeñas: <= 576px) */
@media (max-width: 576px) {
  .card {
    width: 20rem;
    height: auto;
  }

  .tarjeta_principal {
    width: 20rem;
    margin-bottom: -10px;
    height: 25rem;
    overflow-x: hidden;
  }

  .areaTarjeta {
    align-items: center; 
    padding-top: 20px;
  }
}

/* Tablets (pantallas medianas: 577px a 991px) */
@media (min-width: 577px) and (max-width: 991px) {
  .card {
    width: 20rem;
    height: auto;
  }

  .tarjeta_principal {
    width: 29rem;
    height:auto;
    margin-bottom: -15px;
  }

  .areaTarjeta {
    align-items: center;
    padding-top: 30px;
  }
}


.fondoTarjetaVerde{
  background: #94db6b;
  background: radial-gradient(circle,rgb(204, 231, 221) 0%, rgb(68, 204, 136) 100%); 
}

.fondoTarjetaRojo{
  background: #ff0000;
  background: radial-gradient(circle,rgb(212, 154, 140) 0%, rgb(207, 74, 33) 100%);
  
}

.fondoTarjetaBlanco{
  background: #ffffff;
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(207, 207, 207, 1) 100%);
}

.fondoTarjetaNegro{
  background: #000000;
background: radial-gradient(circle,rgb(83, 83, 83) 0%, rgb(0, 0, 0) 100%);
}

.fondoTarjetaMorado{
  background: #8d70b5;
background: radial-gradient(circle,rgb(175, 145, 218) 0%, rgb(78, 39, 151) 100%);
}

.fondoTarjetaAzul{
  background: #00e5ff;
background: radial-gradient(circle,rgb(147, 195, 223) 0%, rgb(43, 122, 168) 100%);
}

.fondoTarjetaMarron{
  background: #cc9047;
background: radial-gradient(circle,rgb(226, 175, 113) 0%, rgb(124, 63, 37) 100%);
}

.fondoTarjetaAmarillo{
  background: #ffee00;
background: radial-gradient(circle,rgb(223, 221, 145) 0%, rgb(238, 216, 22) 100%);
}

.fondoTarjetaRosa{
  background: #ff00cc;
background: radial-gradient(circle,rgb(240, 203, 238) 0%, rgb(223, 121, 209) 100%);
}

.fondoTarjetaGris{
  background: #9e9999;
  background: radial-gradient(circle,rgb(204, 201, 201) 0%, rgb(78, 77, 77) 100%);
}

.boton_volver{
  width: 10%;
  height: 45px;
  border: none;
  background-color: transparent;
  transition: all 100ms ease-out;
}

.boton_volver:hover{
  transform: translateX(-25%);
}

.img_volver{
  width: 35px;
  height: 40px;
  margin-top: 20px;
  margin-left: 15px ;
}

.boton_acompañante{
  width: 12%;
  height: 45px;
  border: none;
  background-color: transparent;
  transition: all 100ms ease-out;
}

.boton_acompañante:hover{
 transform: scale(1.3);
}

.img_pokeball{
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-right: 20px;
}

.fuente_nombre {
  font-family: 'fuente_letra';
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  position: absolute;
  z-index: 2;
  line-height: 1.2;
  
}

.fuente_nombreP{
  font-family: 'fuente_letra';
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 3px;
  z-index: 1;
  white-space: nowrap;
  position: absolute;
  
}

.fuente_id{
  font-family: 'letra-ParaID';
  color: #fdfdfd;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 50px;
}

.fuente_idPokedex{
  font-family: 'letra-ParaID';
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 25px;
}

.imagen_tarjeta{
  width: 220px;
  height: 235px;
  object-fit: contain;
  transform: translateY(-20%) translateX(20%);
}

.imagen_tarjetaPokedex{
  width: 220px;
  height: 250px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fuente_tipos{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(81, 135, 189);
  font-size: 16px;
  transform: translateY(-105px);
}

@font-face {
    font-family: "letra-circle";
    src: url('/Resources/circlethings.ttf') format('truetype');
}

@font-face {
    font-family: "letra-ParaID";
    src: url('/Resources/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "letra-ParaTipos";
    src: url('/Resources/Nunito-VariableFont_wght.ttf') format('truetype');
}

.fuente_circle_ {
    font-family: 'letra-circle';
    color: #5e7966;
}

.fuente_tiposPoke{
    font-family: 'letra-ParaTipos';
  color: #051d0c;
  font-size: 22px;
}

.decoracion_tipos{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #c2b8b8;
  font-size: 15px;
  transform: translateY(-105px);
}
.container-tipo {
  background-color: rgba(255, 255, 255, 0.384); 
  padding: 5px 15px;
  border-radius: 25px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 5px;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 15px;
}

/* Para evitar márgenes extra que descuadran */
.container-tipo p {
  margin: 0;
  padding: 0;
  line-height: 1;
}


.margen_corto{
  margin-top: 2.5px;
}

.formacursor{
  cursor: pointer;
}

.color_verdep {
    color: #bbfae5;
}

.color_rojop {
    color: #f5c7b5;
}

.color_azulp {
    color: #8acdf1;
}

.color_blancop {
    color: #706f6f;
}

.color_cafep {
    color: #ebb990;
}

.color_amarillop {
    color: #bba43c;
}

.color_moradop {
    color: #c5a1ff;
}

.color_rosadop {
    color: #ffd6ee;
}

.color_grisp {
    color: #d6d0d0;
}

.color_negrop {
    color: #b9b8b8;
}

.margen_abajo{
  margin-bottom: 20px;
}

.margen_arriba{
  margin-top: 20px;
}

.margen_acercar_arriba {
  margin-top: -14px;
}

.contorno-tipos {
    -webkit-text-stroke: 0.4px #575757;
}

.borde_verde{
  -webkit-text-stroke: 12px  #60c48d;
  position: absolute;
  z-index: 1;
}

.borde_amarillo{
  -webkit-text-stroke: 12px #cab65c;
  position: absolute;
  z-index: 1;
}

.borde_blanco{
  -webkit-text-stroke: 12px #817c7c;
  position: absolute;
  z-index: 1;
}

.borde_negro{
  -webkit-text-stroke: 12px #7a7979;
  position: absolute;
  z-index: 1;
}

.borde_rosa{
  -webkit-text-stroke: 12px #e09bc4;
  position: absolute;
  z-index: 1;
}

.borde_rojo{
  -webkit-text-stroke: 12px #e9a089;
  position: absolute;
  z-index: 1;
}

.borde_azul{
  -webkit-text-stroke: 12px #7bb6d6;
  position: absolute;
  z-index: 1;
}

.borde_marron{
  -webkit-text-stroke: 12px #dd996b;
  position: absolute;
  z-index: 1;
}

.borde_gris{
  -webkit-text-stroke: 12px #B6B4B4;
  position: absolute;
  z-index: 1;
}

.borde_morado{
  -webkit-text-stroke: 12px #bf92dd;
  position: absolute;
  z-index: 1;
}

.contorno-verde {
    -webkit-text-stroke: 12px #60c48d;
}

.contorno-rojo {
    -webkit-text-stroke: 12px #e9a089;
}

.contorno-azul {
    -webkit-text-stroke: 12px #7bb6d6;
}

.contorno-blanco {
    -webkit-text-stroke: 12px #817c7c;
}

.contorno-marron {
    -webkit-text-stroke: 12px #dd996b;
}

.contorno-amarillo {
    -webkit-text-stroke: 12px #cab65c;
}

.contorno-morado {
    -webkit-text-stroke: 12px #bf92dd;
}

.contorno-rosado {
    -webkit-text-stroke: 12px #e09bc4;
}

.contorno-gris {
    -webkit-text-stroke: 12px #B6B4B4;
}

.contorno-negro {
    -webkit-text-stroke: 12px #7a7979;
}

.color_verde {
    color: #70bda1;
    
}

.color_rojo {
    color: #be6c4c;
}

.color_azul {
    color: #4d86a5;
}

.color_blanco {
    color: #d3d3d4;
}

.color_cafe {
    color: #a57d5e;
}

.color_amarillo {
    color: #c1b378;
}

.color_morado {
    color: #bd71f0;
}

.color_rosado {
    color: #d481b3;
}

.color_gris {
    color: #858383;
}

.color_negro {
    color: #4d4c4c;
}

.botonOp {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 20px;
    position: relative;
    color: #5a5a5a;
    text-decoration: none;
    transition: 0.3s ease all;
    margin-bottom: 20px;
    z-index: 1;
    width: 100px;
    background-color: transparent;
}

.botonOp:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    border-bottom: 2px solid rgb(35, 15, 146);
    z-index: -1;
}

.botonOp:hover,
.botonOp:focus,
.botonOp.active {
    color: black;
}

.botonOp:hover:before,
.botonOp:focus:before,
.botonOp.active:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.botonOp:active {
    transform: scale(0.9);
    color: #000000;
}

.fuente_infor {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #292929;
}

.fuente_data_bold {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #0f0f0f;
    font-weight: bold;
}


.fuente_data{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #636363;
    font-weight: bold;
}

/*COLORES DE LOS ID EN CARDSPOKEMON*/
.color_white { color: #807f7f; }
.color_black { color: #a0a0a0; }
.color_gray  { color: #b4b6b6; }
.color_red   { color: #f1a485; }
.color_blue  { color: #9fcff0; }
.color_green { color: #3ea76a; }
.color_brown { color: #ffc493; }
.color_yellow { color: #c7ad46; }
.color_pink   { color: #fac0dd; }
.color_purple { color: #e8b5fc; }

/* Pokebola */
.captura-animacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out;
}

.pokebola-captura {
  width: 300px;         /* Aumenta el tamaño */
  height: auto;         /* Mantiene la proporción original */
  animation: bounce 1s infinite;
}

.oculto {
  display: none !important;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@font-face {
    font-family: "fuente_letra";
    src: url('/Resources/Bungee-Regular.ttf') format('truetype');
}